body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(52, 248, 255);
}

.header{
    display: flex;
    justify-content: center;

}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 50px;
}

.calculator{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: rgb(220, 219, 245);
    justify-content: space-between;
    align-content: space-between;
    width: 350px;
    gap: 10px;
    border-style:groove;
    border-radius: 10%;
    
}

.display{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(152, 224, 224);
    height: 60px;    

    border-style:groove;
    border-radius: 20%;
}

.valueContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    
    padding-left: 10px;

}
.displayValue{

    display: flex;
    justify-items: flex-start;
    align-items: center;
    user-select: none;
    font-size: x-large;
    color: rgb(49, 36, 36);

}
.specialContain{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;

}

.sButton{

    display: flex;
    background-color: rgba(240, 207, 198, 0.945);
    width: 80px;
    height: 35px;
    border-width: 3px;
    border-style: solid;
    border-color: cadetblue;
    justify-content: center;
    align-content: center;

}

.special{

    display: flex;
    justify-items: center;
    align-items: center;
    user-select: none;
    font-size: x-large;
    color: white;

}

.keypad{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    height: 330px;
    
}
.right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 230px;

}
.numbers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    row-gap: 14px;
}
.operators{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;


}


.nummer{

    display: flex;
    justify-items: center;
    align-items: center;
    user-select: none;
    font-size: x-large;
    color: white;
}

.oButton,
.nButton{

    display: flex;
    background-color: rgba(240, 207, 198, 0.945);
    width: 65px;
    height: 65px;
    border-style: solid;
    border-width: 3px;
    border-color: cadetblue;
    justify-content: center;
    align-content: center;
}
.operator{
    

    display: flex;
    justify-items: center;
    align-items: center;
    user-select: none;
    font-size: x-large;
    color: white;

}
.specialContain2{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding-top: 13px;
    gap: 15px;


}
.sButton#sBo0,
.sButton#sBo1{

    display: flex;
    border-width: 3px; 
    width: 97.5px;
    height: 65px;
    border-style: solid;
    justify-content: center;
    align-content: center;

}



.footer{

    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    background-color: skyblue;
    position: fixed;
    bottom: 0;
    width: 100%;

}